
/************ ELEMENT STYLES ************/

:root {
  font-family: filson-pro, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(49, 49, 49, 0.90);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

ul {
  list-style-type: none;
}

body {
  margin: 0;
  display: block;
  min-width: 600px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  font-family: filson-pro, Arial, Lucida Grande, sans-serif;
}


/************ GLOBAL CLASS STYLES ************/

.button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a1a1a;
  height: 2.5em;
  width: 8em;
  border-radius: .2em;

  a {
    font-weight: 500;
    color: #ffffff;
    text-decoration: inherit;
    font-size: 1.1em;
  }
}

.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* use for information based pages (not listed results) */
.overlay {
  background-color: #f6f6f6;
  min-height: 50em;
}

.inputs-container {
  display: flex;
  padding: .5em 10em;
}

.create-button {
  max-width: 5em;
}

.search-input {
  padding: 12px 20px;
  margin: 8px;
  background-color: #f8f8f8;
  border: 2px solid transparent;
  border-radius: .1em;
  font-size: .5em;
  color: #000000;
  font-weight: 500;
}


/************ ID STYLES ************/

#app {
  margin: 0 auto;
  text-align: center;
}


/************ RESPONSIVE STYLES ************/

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
